<html>
	<head>
		<title>MCQ Manuals</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/static/Mountain.png">
		<script type="text/javascript">
function confSubmit(form) {
	if (confirm("Are you sure you want to delete this entry?")) {
		form.submit();
	}

	else {
		alert("Not deleted");
	}
}
	</script>
	</head>
	<body>
		<h2>All Manuals</h2>
		{% if manList %}
			{{ manList|safe }}
		{% endif %}
		<hr>
		<form method="POST">
			<h2>Create New Manual</h2>
			<p>Please enter the name of the manual - an ID will be automatically assigned</p>
			<input name="manName"></br>
			<input type="submit"></br>
		</form>
		<hr>
		</br>
		<form method="POST" action="/admin-cms/flushToDisk">
			<input type="submit" value="FLUSH DATA TO DISK">
		</form>
		{% if message %}
			{{ message|safe }}
		{% endif %}
	</body>
</html>